/* ---------------------------------------------------- */
/* Layout generico todas las webs (todos los navegadores) */
/* ---------------------------------------------------- */


/*-----General-------*/

html,body,div,span,applet,object,iframe,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,form, table, fieldset,label,legend,caption,tbody,tfoot,thead,tr,th,td{
    margin:0;
    padding:0;
    border:0;
    outline:0;
}

body{
    line-height:1; 
    /*margin-left:50px*/
    margin-left: 2em;
}


h2{
    margin-left:12px;
    margin-top:10px; 
}

h3{
    margin:1em 0 0em 2em; 
}


h3 img{
    height:20px;
}


.line-section{
    height:2px;  
}

h1 a{
    position:relative;
    display:block;
    margin:0;
    height:5.5em;
    padding-top:0.2em
}
h1 a span{
    display:block;
    height:5.5em;
    margin:0em 0 0 1em;
    text-indent:-9999em;
    width:36em;
}


/*------Wrapper--------*/

#wrapper{
    /*width:98em;*/
    width: 74%;
    margin:0 auto;
    max-width: 98em;
}


/*-----Cabecera-------*/


h1.header-logouniv{
    height:6.5em;
    margin:0em 0em 0em 1em;
    width:100%;
    max-width: 98em;
    margin-left: 0px;
}

#header{
    position:relative;
    max-width:98em;
    width:100%;
    height:auto;
    margin:0px;
}

#header .mainNav{
    height:2.4em;
    padding-left: 0px;
    margin: 0;
}

#header .mainNav li{
    float:left;
}

#header .mainNav li a span{
    display:inline-block;
    width: 100%;
}

#header .mainNav a,#header .mainNav a:active,#header .mainNav a:focus{
    display:inline;
    height:2.4em;
    padding:.6em;
    margin-right: 0px;
}

.langNav{
    width: 100%;
    margin:0 auto;   
    max-width: 98em;
    padding:.4em 0 .4em 2em;
    -webkit-padding-start: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-before:0px;
}

.langNav li{
    float:left;
    font-size:1.1em;
    margin:0 1em 0 0;
    padding-left: 18px;    
}


.banner-calidad{
    padding:0;
    padding-top: 3px;
    margin:0;
    width:100%;
    min-width: 150px;
    min-height: 40px;
}


#content-header h2{
    margin-top: 0px;
    padding-top:2px;
}

/* ---- Migas de pan ------ */

.breadcrumb{
    display:inline-block;
    margin:.7em 0 .4em 2em;
    padding:.4em .8em;
}

.breadcrumb li{
    float:left;
    margin:0 0 0 .5em;
}


/*----- Contenedor ------ */

#content #content-header h1.title, #content #content-header h2.title, #content #content-header h3.title {
    margin: 0.5em 1em 0 1.2em;
}

#content{
    position:relative;
    /*width:98em;*/
    width: 100%;
    padding-bottom:10px;
}

#main{
    position:relative;
    min-height:0em; 
}


.cuadro{
    width:80%;
    min-height: 140px;
    padding:10px;
    margin-top:20px;
    margin-left: 50px;
    margin-bottom: 10px;
}

.cuadro_titulo{
    width:100%;
    padding:3px;
    margin:0 0 10px;
}


.cuadro_titulo img{
    padding-left:10px; 
    padding-top:3px;
    margin-right: 10px;
}


/* ----- Pie ------ */

#footer{
    position:relative;
    height:6em;
    padding:0 0 0 0;
}

#footer-inner{
    margin:1px;
    padding:2px;
}

#footer-message{
    position:absolute;
    top:1em;
    left:4.5em;
}

#footer-logo img{
    height:49px;
    margin-left:-3px;
}


/* ---------------------------------------------------- */
/* Definición de MediaQuery para diseño responsive */
/* ---------------------------------------------------- */

@media (max-width: 705px){
    .cuadro{
        margin-left:30px;
    }
}

@media (max-width:500px){
    h1.header-logouniv a{
        height:12vw;
        
    }
    
    body{
        margin-left: 0px;
    }
    
    #wrapper{
        width:85%;
        min-width: 280px;
    }
    
    #listas ul{
        -webkit-padding-start: 0px;
    }
    
   .perfiles-content #perfiles-form, .perfiles-content #choose-profile{
        margin-left:10px;
    }
    
    .cuadro{
        margin-left:20px;
    }
    
    h1 a{
        height:3.5em;
    }

}

