<h1>Aplicación consultas/incidencias sobre las Guias Docentes</h1>
<span class="alert">Este mensaje ha sido generado automáticamente, por favor no responda a este correo.</span>
<h2>Ha recibido una consulta con los siguientes datos:</h2>
<div class="datos-consulta cuadro">
    <div class="consulta-consulta">
        <span class="rotulo">Usuario:</span> <span class="texto-consulta">{{email_values["username"]}}</span>
        <span class="rotulo">Password:</span> <span class="texto-consulta">{{email_values["password"]}}</span>
    </div>
    Por favor, por su seguridad borre este email.
</div>
