<h1>Aplicación consultas/incidencias sobre las Guias Docentes</h1>
<span class="alert">Este mensaje ha sido generado automáticamente, por favor no responda a este correo.</span>
<h3>Desde la sección de administración de la aplicación de consultas/incidencias de las guias docentes se le indica lo siguiente:</h3>
<div class="datos-consulta cuadro">
    <div class="consulta-consulta">
        <span class="texto-consulta">{{email_values["texto"]}}</span>
    </div>
</div>
