.logo-sidebar-left{
    height: 45px;
    width: 45px;
}

.edit, .remove{
    font-size: 24px;
    padding-left: 5px;
    padding-right: 5px;
}

.elemento .acciones{
    padding:0;
}

.select2 .select2-arrow{
    padding-top: 0px !important;
    padding-left:0px !important;
}

.pull-right{
    padding:10px;
}

li .glyphicon-quote, div.pull-left .btn-icon{
    top:12px;
    height:12px;
}
ul.wysihtml5-toolbar li{
    margin-right:2px;
    padding-right: 0px;
}

.clearfix .pull-left{
    height: 40px;
    width: 97px;
    padding-top: 10px;
}

.alert-info{
    margin-right:30px;
    margin-bottom: 0px;
}

#inform-comillas{
    margin: 0;    
    margin-top: 5px;
}